#include <conio.h>
#include <iostream>

using namespace std;

void main()
{
    int a, b;

    cout << "Введите числа: ";
    cin >> a, b;

    if (a > b)
        cout << a;

    else if (b > a)
    {
        cout << b;
        _getch();
    }

    _getch();
}
